<style>
  .seebox{
/*     border:dotted; */
  }
  </style>
<div class="col-1  "></div>
  <div class="col-10  height center">
  <h1>MIGS TECH Products Contact</h1>
   <h4 class='center'>Migs</h4>
  
   <h4>Email: migs@miggymigs.com</h4>
    <p>Thank you for shopping at MIGS TECH Products store.<br> if you have any problems or question please contact us by email and we will do our best to serve you.</p>
  
  </div>
  <div class="col-1 "></div>