<style>
  .seebox{
/*     border:dotted; */
  }
  </style>
<div class="col-1  "></div>
  <div class="col-10  height center">
  <h1>Gwen's Health and Beauty Products Contact</h1>
   <h4 class='center'>Mario: 509-830-5718</h4>
   <h4>Gwen: 509-305-3726</h4>
   <h4>Email: marioprieto377@gmail.com</h4>
    <p>Thank you for shopping at Gwen's Health and Beauty Products store.<br> if you have any problems or question please contact us by phone or email and we will do our best to serve you.</p>
  
  </div>
  <div class="col-1 "></div>