<p>subtotal:<%= number_to_currency(current_order.subtotal)%></p>
<p>shipping:<%= current_order.order_items.count > 0 ? number_to_currency(4.0) : number_to_currency(0) %></p>
<p>total:<%= current_order.order_items.count > 0 ? number_to_currency(current_order.subtotal+4.0) : number_to_currency(0)%></p>