<!-- left side div -->
<div class="col-1"></div>

<div class="col-10">
<div class="shopping-cart">
  <%= render "shopping_cart" %>
</div>

<div class="total">
<%= render "total"%>
</div>
<button><%= link_to 'Continue Shopping', root_path%></button><br><br>

<%= link_to paypal_path, method: :post do %> 
  <button >Procced to checkout</button><br>
<%end%>

<br><br><br><br><br>
</div>
<!-- right side div -->
<div class="col-1"></div>

