<h1>OOPS!</h1>
<p>something went wrong!</p>
<p>possibility could be wrong card number or bad expiration date or no funds or mysterious bank problem</p>
<h2>please Try agian with new card or just review card details</h2>
<button><%= link_to 'Try Again', new_order_checkout_path%></button>